.main__browse {
    position: relative;
    top: 0px;
    width: 100%;
    .catalog {
        position: relative;
        transform: translateY(-130px);
    }
    .catalog__category {
        position: relative;
        transform: translateY(-130px);
    }
}
