.form__movie {
    width: 25%;
    position: absolute;
    right: 37%;
    top: 100px;
    .list__item {
        display: flex;
        overflow: scroll;
        margin: 15px 0px;
        &::-webkit-scrollbar {
            display: none;
        }
        .delete{
            cursor: pointer;
        }
        div {
            display: flex;
            border-radius: 5px;
            background-color: #fff;
            margin-right: 5px;
            color: black;
            p {
                padding: 5px;
                font-size: 14px;
            }
        }
    }
    .submit__movie {
        position: absolute;
        width: 100%;
        top: 95%;
    }
    .message{
        display: flex;
        justify-content: space-between;
    }
}
