.pres {
    position: relative;
    width: 100%;
    .image__pres {
        width: 100%;
        background: linear-gradient(rgba(0, 0, 255, 0), rgb(0, 0, 0));
    }
    .text__pres {
        position: absolute;
        bottom: 30%;
        left: 4%;
        color: white;
        width: 40%;

        .title__pres {
            font-size: 70px;
        }
        .desc__pres {
            width: 80%;
        }
        .button__pres {
            display: flex;
            a {
                margin-right: 15px;
                .icon {
                    font-size: 24px;
                }
            }
        }
    }
}
