.grid {
    position: relative;
    top: 700px;
    .category__grid {

    }
    .movies__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(200px, auto);
    }
}