.grid {
    // padding: 150px;
    background: linear-gradient(#1414148a, #141414);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    padding: 0px 50px 50px 50px;
    // grid-auto-rows: minmax(20px, auto);
}
