.message {
     text-align: center;
     font-size: 16px;
     margin-top: 10px;
     padding: 20px 0px;
     &-warning {
          color: orange;
     }
     &-error {
          color: red;
     }
     &-info {
          color: white;
     }
     &-blue {
          color: rgb(92, 182, 241);
     }
}
