.card{
    border: 0px;
    margin-bottom: 30px;
    .image__card{
        width: 80%;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    .name__card{
        color: #39cdd8;
        margin: 5px 0px 7px 0px;
        width: 250px;
        overflow: hidden;
    }
    .price__card{
        font-weight: bold;
        margin: 0px;
    }
    .desc__card{
        color: rgb(102, 102, 102);
        margin: 0px;
        font-size: 15px;
    }
}