.header__toolbar {
    margin-right: 50px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    .profil {
        margin-left: 40px;
        img {
            width: 30px;
            border-radius: 5px;
            vertical-align: middle;
        }
    }
    div {
        svg {
            cursor: pointer;
        }
    }
}
