.card {
    border: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.514);
    border-radius: 10px;
    padding: 20px;
    .image__card {
        width: 150px;
        height: 90px;
        border-radius: 5px;
        padding: 3px;
    }
    .name__card {
        color: #39cdd8;
        width: 250px;
        overflow: hidden;
        width: 5%;
        padding: 3px;
    }
    .desc__card {
        color: rgb(102, 102, 102);
        margin: 0px;
        font-size: 15px;
        width: 20%;
        padding: 3px;
    }
    .year__card {
        width: 5%;
        padding: 3px;
    }
    .time__card {
        width: 5%;
        padding: 3px;
    }

    .actors {
        width: 10%;
        padding: 3px;
        .actor {
        }
    }
    .categories {
        width: 10%;
        padding: 3px;
        .category {
        }
    }
}
