.form__group {
     text-align: center;
     label {
          display: block;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px;
          margin-bottom: 10px;
          margin-top: 15px;
     }
     input {
          width: 280px;
          height: 45px;
          border-radius: 5px;
          border: 1px solid black;
          transition: 1s all;
          &::placeholder {
               color: lightgray;
          }
          &:focus {
               border-width: 2px;
               border-color: black;
               outline: none;
               transition: 0.3s all;
          }
     }
}
