.header__home {
    background: linear-gradient( #000000, #ffffff00);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        width: 190px;
        margin-left: 40px;
    }
    .header__btn {
        margin-right: 40px;
    }
}
