.grid {
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .slider__grid {
        display: flex;
        padding-left: 3rem;

        overflow: visible;
        position: relative;
        background: linear-gradient(#1414148a, #141414);
    }
    .category__grid {
        overflow-y: visible;
        z-index: -1;
        background: linear-gradient(#14141400, #1414148a);
    }
}
