body {
    font-family: $quicksand;
    background-color: #141414;
    color: white;
    letter-spacing: 0.5px;
}
.reco {
    color: #46d369;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
}
a {
    text-decoration: none;
}
input{
    text-indent: 7px;
}
