body {
    font-family: $mainFont;
    background-color:#141414;
    color: white;
}

p {
    font-size: 18px;
}

h1, h2, h3, h4 {
    font-family: $titleFont;
    font-size: 40px;
}

a {
    text-decoration: none;
}